01 Agente IA Ecommerce/Ecom_Upload.json
{
  "name": "Ecom_Upload",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vytHFklKSAj30nykcmc5vB3ehe9g2c_6",
          "mode": "list",
          "cachedResultName": "Documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vytHFklKSAj30nykcmc5vB3ehe9g2c_6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -1300
      ],
      "id": "9a6b096c-d1b3-4207-90e2-2fca642b3eb7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qmdOM9BZmjArRrRt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1vytHFklKSAj30nykcmc5vB3ehe9g2c_6",
          "mode": "list",
          "cachedResultName": "Documentos",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vytHFklKSAj30nykcmc5vB3ehe9g2c_6"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -1080
      ],
      "id": "6969c060-c4bb-4719-bfdb-bf81f17c6075",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qmdOM9BZmjArRrRt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -680,
        -1300
      ],
      "id": "76dec96f-1787-441b-8cff-75c110114bd4",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qmdOM9BZmjArRrRt",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ecomtutorial",
          "mode": "list",
          "cachedResultName": "ecomtutorial"
        },
        "options": {
          "pineconeNamespace": "name_ecom"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -460,
        -1200
      ],
      "id": "534c4fa4-9fd2-4822-9491-b37170aaa71d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "xZ0GzAXvDSwoVgEo",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -520,
        -1020
      ],
      "id": "b7b969f7-dd13-4150-b9b8-161801ccea62",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "c7s9dpZ0y61Ga0yu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -400,
        -960
      ],
      "id": "a1940497-2617-40e7-937c-ccc56ef6b792",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        -300,
        -740
      ],
      "id": "9fa8770f-6c89-4cb8-b23e-529cfa2c0e54",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "247f9b09-bf66-41f7-84fa-f468e86ca40c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2cf7c6b49b794dc5dd708bf3a2e40826bcbb5fdf567b70a644746a7dea473bf8"
  },
  "id": "oqS58bZw8MkRZPUH",
  "tags": []
}